img{
        max-width: 1250;
        max-height: 1250;
}

body {

        background:image ("HD.jpg");
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: direita;
        height: 40px;
        display: flex;
        margin: 0;
        padding: 10px 20px;
        color: black;
}

.red-button {
        display: inline-block;
        font-size: 32px;
        background-color: brown;
        color: aliceblue;
        border: 2px solid #c0392b
    }
            
.red-button {
        background-color: black;
    }

